footer.footer
    .wrapper
        .footer__boxes
            .footer__box
                h3.footer__box-title
                    i.fab.fa-dropbox  Czajbrary
                p This is a site about my whole book collections. I have been collecting book since 2010. The site's goal is to collect my books and add new ones when I am logged in. A typical user can add reviews on books and manage his profile.
                .footer__box-social
                    a.footer__box-link(href='#')
                        i.fab.fa-twitter-square
                    a.footer__box-link(href='#')
                        i.fab.fa-facebook-square
                    a.footer__box-link(href='#')
                        i.fab.fa-instagram
            .footer__box.footer__box-desktop
                h3.footer__box-title The site
                ul.footer__box-list
                    li.footer__box-list-item
                        a(href='#books') Collection
                    li.footer__box-list-item
                        a(href='#books') Log in
                    li.footer__box-list-item
                        a(href='#books') Sign up
                    li.footer__box-list-item
                        a(href='#books') FAQ
    p.footer__bottom-text Czajbrary by Wiktor Czajkowski &copy;
        span.footer__year