extends base

block content
    main.err
        .wrapper
            .error-content
                .error-content-box
                    h2.error-content__title Uh! Something went horribly wrong!
                    p.error-content__msg= msg