extends base

block content
    section.setting
        .wrapper
            .setting-box
                .setting__menu
                    a(href='/me')
                        i.fas.fa-user-cog
                    a(href='/my-books')
                        i.fas.fa-book
                    a(href='/my-reviews')
                        i.far.fa-comment-dots
                    - if(user.role === 'admin')
                        a(href='/add-book')
                            i.far.fa-plus-square
                h2.setting-title My rented Books
                .setting__mybooks
                    each book in books
                        .setting__mybooks-card
                            .setting__mybooks-card-img
                                .setting__mybooks-card-img-shadow
                                img.setting__mybooks-card-img-picture(src=`/img/books/${book.imageCover}`, alt=`${book.title}`)
                                //- h3.setting__mybooks-card-img-title= book.title
                                a.setting__mybooks-card-img-info(href=`/book/${book.slug}`)
                                        | To Book
                    //- .setting__mybooks-card
                    //-     .setting__mybooks-card-img
                    //-         .setting__mybooks-card-img-shadow
                    //-         img.books__card-img-picture(src='/img/books/book-1.jpg', alt='book1')
                    //-         //- h3.setting__mybooks-card-img-title= book.title
                    //-         a.setting__mybooks-card-img-info(href='#')
                    //-                 | To Book
                    //- .setting__mybooks-card
                    //-     .setting__mybooks-card-img
                    //-         .setting__mybooks-card-img-shadow
                    //-         img.books__card-img-picture(src='/img/books/book-1.jpg', alt='book1')
                    //-         //- h3.setting__mybooks-card-img-title= book.title
                    //-         a.setting__mybooks-card-img-info(href='#')
                    //-                 | To Book

    //- script(src='/js/updateSettings.js')