$white: #fff;
$dark: #232323;
$darker:rgb(26, 26, 26);
$main-color: #1755e7;
$light-blue-gradient: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.34987745098039214) 100%, rgba(0,30,255,1) 100%);