@media(min-width: 768px) {

    .section-title {
        font-size: 3.6rem;
    }

    .section-padding {
        padding: 7em 2em;
    }

    .white-block {
        height: 40px;
        width: 45%;
    }


    .header {
        height: 75vh;

        &__title {
            font-size: 7rem;
        }

        &__text {
            font-size: 2.2rem;
        }

        &__btn {
            font-size: 1.6rem;
        }
    }

    .books {
        &__card {
            margin: 1em;
            margin-bottom: 3em;
            width: 45%;
        }
    }

    .footer {
        &__boxes{
            display: flex;
            justify-content: space-between;
        }

        &__box-desktop {
            display: block;
        }

        &__box {
            margin: 0 2em;
            width: 40%;

            &:first-child {
                width: 50%;
            }
        }

        &__box-title {
            font-size: 2.4rem;
        }

        &__box-list {
            list-style: none;
        }

        &__box-list-item {
            margin-bottom: 1em;

            a {
                color: $white;
                text-decoration: none;
                transition: color .3s;

                &:hover {
                    color: $white;
                }
            }
        }
    }

    .signup {
        .form__box {
            width: 440px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            form {
                font-size: 2rem;
            }

            .popup {
                width: 500px;
            }
        }
    }

    .book-header {
        min-height: 60vh;

        .book__title {
            font-size: 5.5rem;
        }
    }

    .book-description {
        .book-box {
            .book-description__box-info {
                margin-bottom: 2.5em;

                i {
                    font-size: 3rem;
                }

                img {
                    max-height: 600px;
                }

                li {
                    font-size: 2.2rem;
                }
            }

            .book-description__box-desc {
                margin-top: 1.7em;
                margin-bottom: 3em;

                .book__title {
                    font-size: 2.8rem;
                }

                .book__desc {
                    font-size: 2.4rem;
                    padding: 0 2.5em;
                }
            }

        }
    }

    .rent {
        &-box {
            &__title {
                font-size: 2.6rem;
            }

            &__text {
                font-size: 2.1rem;
            }

            &__btn {
                max-width: 40%;
                font-size: 2rem;
            }
        }
    }

    .setting {
        padding: 1em 2em;

        &-box {
            margin-top: 8em;
            // min-height: 70%;
            min-width: 80%;
            max-width: 90%;
            padding: 2em;
        }

        &__menu {

            i {
                font-size: 3rem;
            }
        }

        &__account {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid $darker;

            &-title {
                font-size: 2.6rem;
            }

            form {
                width: 80%;
                padding: 2em;
                font-size: 1.6rem;
            }

            .form-box {
                font-size: 1.6rem;
                margin-bottom: 0.7em;
            }

            .saveSett {
                min-width: 30%;
                font-size: 1.6rem;
            }
        }

        &__passwordChange {

            &-title {
                font-size: 2.6rem;
                margin-bottom: 1.2em;
            }

            form {
                width: 80%;
                padding: 2em;
                font-size: 1.6rem;
            }

            .form-box {
                font-size: 1.6rem;
                margin-bottom: 0.7em;
            }

            .savePass {
                min-width: 30%;
                font-size: 1.6rem;
            }
        }
    }
}